In [1]:
import pandas as pd

data = pd.read_csv('data/x_train_gr_smpl.csv')
labels = pd.read_csv('data/y_train_smpl.csv')

data['label'] = labels

# Point 1: Data Randomization
data = data.sample(frac=1)

data.head(5)

,0,1,2,3,4,5,6,7,8,9,...,2295,2296,2297,2298,2299,2300,2301,2302,2303,label
78,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,255.0,...,100.0,108.0,58.0,41.0,40.0,40.0,40.0,41.0,40.0,0
4592,35.0,34.0,33.0,34.0,36.0,36.0,36.0,36.0,36.0,36.0,...,38.0,36.0,35.0,51.0,65.0,63.0,58.0,44.0,37.0,3
11918,22.0,22.0,23.0,23.0,23.0,23.0,23.0,23.0,23.0,22.0,...,37.0,38.0,42.0,47.0,45.0,39.0,32.0,38.0,47.0,8
1623,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,12.0,...,13.0,13.0,13.0,14.0,13.0,12.0,11.0,11.0,11.0,1
181,33.0,31.0,33.0,35.0,34.0,32.0,31.0,33.0,33.0,32.0,...,28.0,29.0,33.0,32.0,27.0,28.0,27.0,25.0,27.0,0

In [2]:
from sklearn.model_selection import train_test_split

X = data.iloc[:, :-1]
y = data['label']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

del data
del X
del y

In [3]:
# Point 4: Classification with Naive Bayes

from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import confusion_matrix, classification_report
gnb = GaussianNB()

y_pred = gnb.fit(X_train, y_train).predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.29      0.15      0.20       463
           1       0.26      0.22      0.24       614
           2       0.10      0.84      0.17       146
           3       0.77      0.39      0.52       451
           4       0.76      0.21      0.33       714
           5       0.46      0.45      0.46       700
           6       0.43      0.60      0.50       251
           7       0.09      0.57      0.16        75
           8       0.65      0.11      0.18       672
           9       0.18      0.25      0.21        92

   micro avg       0.30      0.30      0.30      4178
   macro avg       0.40      0.38      0.30      4178
weighted avg       0.50      0.30      0.32      4178